body {
  width: 400px;
  height: auto;
  margin: 0;
  text-align: center;
  background: #003366;
  font-family: 'Roboto', sans-serif;
}

/* -------------------Header Section----------------------- */
.header {
  /* background-color: #003366; */
  padding: 5%;
  text-align: center;
}

.penn_logo {
  width: 60%;
}

.user {
  padding: 50px 0 50px 0;
  background: white;
}

h3 {
  margin: 5px;
}

h4 {
  margin: 5px;
  color: #595959;
}
/* -------------Settings buttons Section--------------------- */
.settings-btn {
  margin-bottom: 2rem;
}

/* Style buttons */
.header-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  /* Mouse pointer on hover */
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
}

/* Darker background on mouse-over */
.header-btn:hover {
  border-radius: 50%;
  background-color: #F8F8F8;
}

.header-icon {
  height: 1rem;
}

/* ------------Buttons---------------------------- */
/* Adjust all imgs to have the same size */
.buttons img {
  height: 25px;
  width: 25px;
  padding: 4px 1px;
  /* margin-top: 10px; */
}

/* Change position to the middle of transparent background */
/* .buttons a {
  position: relative;
  bottom: 45px;
  margin: 0 10px 0 10px;
} */
.buttons-container
{
  /* margin: 0 auto 0 auto; */
  width: 400px;
  height: 100px;
  background-color: #003366;
}

.buttons
{
    list-style: none;
    padding: 30px;
    /* margin: 0 auto 0 auto; */
}

.buttons > li
{
    position: relative;
    float: left;
    width: 55px;
}

.buttons > li:hover
{
  border-radius: 20%;
  background: #CCCCCC;
}

.buttons li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.buttons a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    /* padding: 0 0 0 10px; */

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}

.dropdown-content
{
    position: absolute;
    top: 35px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.dropdown-content > li
{
    position: relative;
    height: 30px;
    background: #999999;
}
.dropdown-content > li:hover { background: #CCCCCC; }

.second-dropdown-content
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-dropdown-content > li
{
    height: 30px;
    background: #999999;
}
.second-dropdown-content > li:hover { background: #CCCCCC; }

/* See if you can implement a JS code that will give the <li> a class called show. Which should trigger this CSS code. Naturally everything will be hidden at first. */
.show {
  display: block;
}
