body {
  width: 400px;
  margin: 0;
  text-align: center;
}

/* -------------------Header Section----------------------- */
.header {
  background-color: #003366;
  padding: 5%;
  text-align: center;
}

.penn_logo {
  width: 60%;
}

.user {
  margin-top: 2rem;
}

/* -------------Settings buttons Section--------------------- */
.settings-btn {
  margin-bottom: 2rem;
}

/* Style buttons */
.header-btn {
  background-color: white;
  border: none;
  cursor: pointer; /* Mouse pointer on hover */
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
}

/* Darker background on mouse-over */
.header-btn:hover {
  border-radius: 50%;
  background-color: #F8F8F8;
}

.header-icon {
  height: 1rem;
}

/* ------------Dropdown Buttons---------------------------- */
.dropbtn {
  width: 100%;
  display: block;
  border: none;
  background-color: white;
  font-size: 1.3rem;
  color: #800000;
  text-align: left;
  padding: 0.5rem 0 0.5rem 2rem;
}

.dropbtn:hover {
  background-color: #F8F8F8;
}

.dropdown-content {
  display: none;
}

.dropdown-content a {
  color: #003366;
  display: block;
}

.expand-arrow {
  display: none;
  position: relative;
  top: 0.5rem;
  width: 2rem;
}

.show {display: block;}
